body main {
  margin: 100px auto;
  max-width: 1350px;
  width: 96%;
}

body main form section.section_featured-products {
  margin: 150px auto 50px auto;
  width: 100%;
}

body main form section.section_featured-products > h1 {
  padding: 7px 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  margin: 20px auto;
  text-align: center;
  font-weight: 800;
}

body main form section.section_featured-products > h1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 3px;
  width: 30px;
  background-color: var(--yellow);
  border-radius: 5px;
}

body main form section.section_featured-products div.container_featured-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 20px;
  width: 100%;
}

body main form section.section_featured-products div.container_featured-products div.container_products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  background-color: var(--secondary-dark);
  border-radius: 5px;
  gap: 20px;
}

body main form section.section_featured-products div.container_featured-products div.container_products div.container_image {
  width: 150px;
}

body main form section.section_featured-products div.container_featured-products div.container_products div.container_image img {
  display: block;
  margin: auto;
  max-width: 220px;
  width: 100%;
}

body main form section.section_featured-products div.container_featured-products div.container_products div.container_description {
  width: 250px;
}

body main form section.section_featured-products div.container_featured-products div.container_products div.container_description h1 {
  font-size: 18px;
}

body main form section.section_featured-products div.container_featured-products div.container_products div.container_description p {
  margin: 3px 0;
  font-size: 14px;
  color: var(--secondary-light);
  font-weight: 300;
}

body main form section.section_featured-products div.container_featured-products div.container_products div.container_description div.container_price-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main form section.section_featured-products div.container_featured-products div.container_products div.container_description div.container_price-order p.price {
  color: var(--primary-light);
  font-weight: 500;
}

body main form section.section_featured-products div.container_featured-products div.container_products div.container_description div.container_price-order div.container_order-quantity label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main form section.section_featured-products div.container_featured-products div.container_products div.container_description div.container_price-order div.container_order-quantity label p.order-quantity input[type="number"] {
  height: 24px;
  width: 30px;
  background-color: var(--primary-dark);
  text-align: center;
  border: none;
}

body main form section.section_featured-products div.container_featured-products div.container_products div.container_description div.container_price-order div.container_order-quantity label p.order-quantity input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

body main form section.section_featured-products div.container_featured-products div.container_products div.container_description div.container_price-order div.container_order-quantity label button {
  height: 24px;
  padding: 5px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: var(--tertiary-light);
  border-radius: 0;
}

body main form section.section_featured-products div.container_featured-products div.container_products div.container_description div.container_price-order div.container_order-quantity label button i {
  font-size: 14px;
}

body main form section.section_featured-products div.container_featured-products div.container_products div.container_description > button {
  margin: 10px 0;
  padding: 5px 12px;
  width: 100%;
  background-color: var(--yellow);
  font-size: 12px;
  text-shadow: 0 0 5px var(--tertiary-dark);
  font-weight: 300;
}

body main form section.section_featured-products div.container_featured-products div.container_products div.container_description > button:hover {
  background-color: var(--yellow-lighten);
}

body main form section.section_featured-products div.container_featured-products div.container_products div.container_description > button span {
  text-shadow: none;
}

body main form section.section_featured-products div.container_featured-products div.container_products div.container_description > button a {
  text-decoration: none;
}

body main form section.section_burgers-menu {
  margin: 50px auto;
  width: 100%;
}

body main form section.section_burgers-menu > h1 {
  padding: 7px 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  margin: 20px auto;
  text-align: center;
  font-weight: 800;
}

body main form section.section_burgers-menu > h1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 3px;
  width: 30px;
  background-color: var(--yellow);
  border-radius: 5px;
}

body main form section.section_burgers-menu div.container_burgers-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 20px;
  width: 100%;
}

body main form section.section_burgers-menu div.container_burgers-menu div.container_burgers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  background-color: var(--secondary-dark);
  border-radius: 5px;
  gap: 20px;
}

body main form section.section_burgers-menu div.container_burgers-menu div.container_burgers div.container_image {
  width: 150px;
}

body main form section.section_burgers-menu div.container_burgers-menu div.container_burgers div.container_image img {
  display: block;
  margin: auto;
  max-width: 200px;
  width: 100%;
}

body main form section.section_burgers-menu div.container_burgers-menu div.container_burgers div.container_description {
  width: 250px;
}

body main form section.section_burgers-menu div.container_burgers-menu div.container_burgers div.container_description h1 {
  font-size: 18px;
}

body main form section.section_burgers-menu div.container_burgers-menu div.container_burgers div.container_description p {
  margin: 3px 0;
  font-size: 14px;
  color: var(--secondary-light);
  font-weight: 300;
}

body main form section.section_burgers-menu div.container_burgers-menu div.container_burgers div.container_description div.container_price-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main form section.section_burgers-menu div.container_burgers-menu div.container_burgers div.container_description div.container_price-order p.price {
  color: var(--primary-light);
  font-weight: 500;
}

body main form section.section_burgers-menu div.container_burgers-menu div.container_burgers div.container_description div.container_price-order div.container_order-quantity label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main form section.section_burgers-menu div.container_burgers-menu div.container_burgers div.container_description div.container_price-order div.container_order-quantity label p.order-quantity input[type="number"] {
  height: 24px;
  width: 30px;
  background-color: var(--primary-dark);
  text-align: center;
  border: none;
}

body main form section.section_burgers-menu div.container_burgers-menu div.container_burgers div.container_description div.container_price-order div.container_order-quantity label p.order-quantity input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

body main form section.section_burgers-menu div.container_burgers-menu div.container_burgers div.container_description div.container_price-order div.container_order-quantity label button {
  height: 24px;
  padding: 5px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: var(--tertiary-light);
  border-radius: 0;
}

body main form section.section_burgers-menu div.container_burgers-menu div.container_burgers div.container_description div.container_price-order div.container_order-quantity label button i {
  font-size: 14px;
}

body main form section.section_burgers-menu div.container_burgers-menu div.container_burgers div.container_description > button {
  margin: 10px 0;
  padding: 5px 12px;
  width: 100%;
  background-color: var(--yellow);
  font-size: 12px;
  text-shadow: 0 0 5px var(--tertiary-dark);
  font-weight: 300;
}

body main form section.section_burgers-menu div.container_burgers-menu div.container_burgers div.container_description > button:hover {
  background-color: var(--yellow-lighten);
}

body main form section.section_burgers-menu div.container_burgers-menu div.container_burgers div.container_description > button span {
  text-shadow: none;
}

body main form section.section_burgers-menu div.container_burgers-menu div.container_burgers div.container_description > button a {
  text-decoration: none;
}

body main form section.section_pizza-menu {
  margin: 50px auto;
  width: 100%;
}

body main form section.section_pizza-menu > h1 {
  padding: 7px 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  margin: 20px auto;
  text-align: center;
  font-weight: 800;
}

body main form section.section_pizza-menu > h1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 3px;
  width: 30px;
  background-color: var(--yellow);
  border-radius: 5px;
}

body main form section.section_pizza-menu div.container_pizza-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 20px;
  width: 100%;
}

body main form section.section_pizza-menu div.container_pizza-menu div.container_pizza {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  background-color: var(--secondary-dark);
  border-radius: 5px;
  gap: 20px;
}

body main form section.section_pizza-menu div.container_pizza-menu div.container_pizza div.container_image {
  width: 150px;
}

body main form section.section_pizza-menu div.container_pizza-menu div.container_pizza div.container_image img {
  display: block;
  margin: auto;
  max-width: 200px;
  width: 100%;
}

body main form section.section_pizza-menu div.container_pizza-menu div.container_pizza div.container_description {
  width: 250px;
}

body main form section.section_pizza-menu div.container_pizza-menu div.container_pizza div.container_description h1 {
  font-size: 18px;
}

body main form section.section_pizza-menu div.container_pizza-menu div.container_pizza div.container_description p {
  margin: 3px 0;
  font-size: 14px;
  color: var(--secondary-light);
  font-weight: 300;
}

body main form section.section_pizza-menu div.container_pizza-menu div.container_pizza div.container_description div.container_price-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main form section.section_pizza-menu div.container_pizza-menu div.container_pizza div.container_description div.container_price-order p.price {
  color: var(--primary-light);
  font-weight: 500;
}

body main form section.section_pizza-menu div.container_pizza-menu div.container_pizza div.container_description div.container_price-order div.container_order-quantity label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main form section.section_pizza-menu div.container_pizza-menu div.container_pizza div.container_description div.container_price-order div.container_order-quantity label p.order-quantity input[type="number"] {
  height: 24px;
  width: 30px;
  background-color: var(--primary-dark);
  text-align: center;
  border: none;
}

body main form section.section_pizza-menu div.container_pizza-menu div.container_pizza div.container_description div.container_price-order div.container_order-quantity label p.order-quantity input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

body main form section.section_pizza-menu div.container_pizza-menu div.container_pizza div.container_description div.container_price-order div.container_order-quantity label button {
  height: 24px;
  padding: 5px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: var(--tertiary-light);
  border-radius: 0;
}

body main form section.section_pizza-menu div.container_pizza-menu div.container_pizza div.container_description div.container_price-order div.container_order-quantity label button i {
  font-size: 14px;
}

body main form section.section_pizza-menu div.container_pizza-menu div.container_pizza div.container_description > button {
  margin: 10px 0;
  padding: 5px 12px;
  width: 100%;
  background-color: var(--yellow);
  font-size: 12px;
  text-shadow: 0 0 5px var(--tertiary-dark);
  font-weight: 300;
}

body main form section.section_pizza-menu div.container_pizza-menu div.container_pizza div.container_description > button:hover {
  background-color: var(--yellow-lighten);
}

body main form section.section_pizza-menu div.container_pizza-menu div.container_pizza div.container_description > button span {
  text-shadow: none;
}

body main form section.section_pizza-menu div.container_pizza-menu div.container_pizza div.container_description > button a {
  text-decoration: none;
}

body main form section.section_fries-menu {
  margin: 50px auto;
  width: 100%;
}

body main form section.section_fries-menu > h1 {
  padding: 7px 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  margin: 20px auto;
  text-align: center;
  font-weight: 800;
}

body main form section.section_fries-menu > h1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 3px;
  width: 30px;
  background-color: var(--yellow);
  border-radius: 5px;
}

body main form section.section_fries-menu div.container_fries-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 20px;
  width: 100%;
}

body main form section.section_fries-menu div.container_fries-menu div.container_fries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  background-color: var(--secondary-dark);
  border-radius: 5px;
  gap: 20px;
}

body main form section.section_fries-menu div.container_fries-menu div.container_fries div.container_image {
  width: 150px;
}

body main form section.section_fries-menu div.container_fries-menu div.container_fries div.container_image img {
  display: block;
  margin: auto;
  max-height: 140px;
  height: 100%;
  max-width: 200px;
  width: 100%;
}

body main form section.section_fries-menu div.container_fries-menu div.container_fries div.container_description {
  width: 250px;
}

body main form section.section_fries-menu div.container_fries-menu div.container_fries div.container_description h1 {
  font-size: 18px;
}

body main form section.section_fries-menu div.container_fries-menu div.container_fries div.container_description p {
  margin: 3px 0;
  font-size: 14px;
  color: var(--secondary-light);
  font-weight: 300;
}

body main form section.section_fries-menu div.container_fries-menu div.container_fries div.container_description div.container_price-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main form section.section_fries-menu div.container_fries-menu div.container_fries div.container_description div.container_price-order p.price {
  color: var(--primary-light);
  font-weight: 500;
}

body main form section.section_fries-menu div.container_fries-menu div.container_fries div.container_description div.container_price-order div.container_order-quantity label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main form section.section_fries-menu div.container_fries-menu div.container_fries div.container_description div.container_price-order div.container_order-quantity label p.order-quantity input[type="number"] {
  height: 24px;
  width: 30px;
  background-color: var(--primary-dark);
  text-align: center;
  border: none;
}

body main form section.section_fries-menu div.container_fries-menu div.container_fries div.container_description div.container_price-order div.container_order-quantity label p.order-quantity input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

body main form section.section_fries-menu div.container_fries-menu div.container_fries div.container_description div.container_price-order div.container_order-quantity label button {
  height: 24px;
  padding: 5px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: var(--tertiary-light);
  border-radius: 0;
}

body main form section.section_fries-menu div.container_fries-menu div.container_fries div.container_description div.container_price-order div.container_order-quantity label button i {
  font-size: 14px;
}

body main form section.section_fries-menu div.container_fries-menu div.container_fries div.container_description > button {
  margin: 10px 0;
  padding: 5px 12px;
  width: 100%;
  background-color: var(--yellow);
  font-size: 12px;
  text-shadow: 0 0 5px var(--tertiary-dark);
  font-weight: 300;
}

body main form section.section_fries-menu div.container_fries-menu div.container_fries div.container_description > button:hover {
  background-color: var(--yellow-lighten);
}

body main form section.section_fries-menu div.container_fries-menu div.container_fries div.container_description > button span {
  text-shadow: none;
}

body main form section.section_fries-menu div.container_fries-menu div.container_fries div.container_description > button a {
  text-decoration: none;
}

body main form section.section_drinks-menu {
  margin: 50px auto;
  width: 100%;
}

body main form section.section_drinks-menu > h1 {
  padding: 7px 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  margin: 20px auto;
  text-align: center;
  font-weight: 800;
}

body main form section.section_drinks-menu > h1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 3px;
  width: 30px;
  background-color: var(--yellow);
  border-radius: 5px;
}

body main form section.section_drinks-menu div.container_drinks-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 20px;
  width: 100%;
}

body main form section.section_drinks-menu div.container_drinks-menu div.container_drinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  background-color: var(--secondary-dark);
  border-radius: 5px;
  gap: 20px;
}

body main form section.section_drinks-menu div.container_drinks-menu div.container_drinks div.container_image {
  width: 150px;
}

body main form section.section_drinks-menu div.container_drinks-menu div.container_drinks div.container_image img {
  display: block;
  margin: auto;
  max-height: 200px;
  height: 100%;
  max-width: 200px;
  width: 100%;
}

body main form section.section_drinks-menu div.container_drinks-menu div.container_drinks div.container_description {
  width: 250px;
}

body main form section.section_drinks-menu div.container_drinks-menu div.container_drinks div.container_description h1 {
  font-size: 18px;
}

body main form section.section_drinks-menu div.container_drinks-menu div.container_drinks div.container_description p {
  margin: 3px 0;
  font-size: 14px;
  color: var(--secondary-light);
  font-weight: 300;
}

body main form section.section_drinks-menu div.container_drinks-menu div.container_drinks div.container_description div.container_price-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main form section.section_drinks-menu div.container_drinks-menu div.container_drinks div.container_description div.container_price-order p.price {
  color: var(--primary-light);
  font-weight: 500;
}

body main form section.section_drinks-menu div.container_drinks-menu div.container_drinks div.container_description div.container_price-order div.container_order-quantity label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main form section.section_drinks-menu div.container_drinks-menu div.container_drinks div.container_description div.container_price-order div.container_order-quantity label p.order-quantity input[type="number"] {
  height: 24px;
  width: 30px;
  background-color: var(--primary-dark);
  text-align: center;
  border: none;
}

body main form section.section_drinks-menu div.container_drinks-menu div.container_drinks div.container_description div.container_price-order div.container_order-quantity label p.order-quantity input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

body main form section.section_drinks-menu div.container_drinks-menu div.container_drinks div.container_description div.container_price-order div.container_order-quantity label button {
  height: 24px;
  padding: 5px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: var(--tertiary-light);
  border-radius: 0;
}

body main form section.section_drinks-menu div.container_drinks-menu div.container_drinks div.container_description div.container_price-order div.container_order-quantity label button i {
  font-size: 14px;
}

body main form section.section_drinks-menu div.container_drinks-menu div.container_drinks div.container_description > button {
  margin: 10px 0;
  padding: 5px 12px;
  width: 100%;
  background-color: var(--yellow);
  font-size: 12px;
  text-shadow: 0 0 5px var(--tertiary-dark);
  font-weight: 300;
}

body main form section.section_drinks-menu div.container_drinks-menu div.container_drinks div.container_description > button:hover {
  background-color: var(--yellow-lighten);
}

body main form section.section_drinks-menu div.container_drinks-menu div.container_drinks div.container_description > button span {
  text-shadow: none;
}

body main form section.section_drinks-menu div.container_drinks-menu div.container_drinks div.container_description > button a {
  text-decoration: none;
}

body main section.section_modal-added-success, body main section.section_modal-added-failed {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-50%, -50%);
          transform: translateY(-50%, -50%);
  background-color: var(--tertiary-dark);
  z-index: 5;
}

body main section.section_modal-added-success div.container_modal-added-success, body main section.section_modal-added-success div.container_modal-added-failed, body main section.section_modal-added-failed div.container_modal-added-success, body main section.section_modal-added-failed div.container_modal-added-failed {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 30px;
  margin: auto;
  max-width: 450px;
  width: 95%;
  text-align: center;
  background-color: var(--secondary-dark);
  border: 1px solid var(--tertiary-light);
  border-radius: 5px;
}

body main section.section_modal-added-success div.container_modal-added-success h1, body main section.section_modal-added-success div.container_modal-added-failed h1, body main section.section_modal-added-failed div.container_modal-added-success h1, body main section.section_modal-added-failed div.container_modal-added-failed h1 {
  font-weight: 400;
}

body main section.section_modal-added-success div.container_modal-added-success p, body main section.section_modal-added-success div.container_modal-added-failed p, body main section.section_modal-added-failed div.container_modal-added-success p, body main section.section_modal-added-failed div.container_modal-added-failed p {
  color: var(--secondary-light);
  font-weight: 200;
  font-size: 14px;
}

body main section.section_modal-added-success div.container_modal-added-success button, body main section.section_modal-added-success div.container_modal-added-failed button, body main section.section_modal-added-failed div.container_modal-added-success button, body main section.section_modal-added-failed div.container_modal-added-failed button {
  margin-top: 20px;
  width: 100%;
  padding: 7px 15px;
  background-color: var(--yellow);
  text-shadow: 0 0 5px var(--tertiary-dark);
}

body main section.section_modal-added-success div.container_modal-added-success button:hover, body main section.section_modal-added-success div.container_modal-added-failed button:hover, body main section.section_modal-added-failed div.container_modal-added-success button:hover, body main section.section_modal-added-failed div.container_modal-added-failed button:hover {
  background-color: var(--yellow-lighten);
}

body main section.section_modal-added-success div.container_modal-added-success .animation-ctn, body main section.section_modal-added-success div.container_modal-added-failed .animation-ctn, body main section.section_modal-added-failed div.container_modal-added-success .animation-ctn, body main section.section_modal-added-failed div.container_modal-added-failed .animation-ctn {
  margin: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
}

body main section.section_modal-added-success div.container_modal-added-success .inlinesvg .svg svg, body main section.section_modal-added-success div.container_modal-added-failed .inlinesvg .svg svg, body main section.section_modal-added-failed div.container_modal-added-success .inlinesvg .svg svg, body main section.section_modal-added-failed div.container_modal-added-failed .inlinesvg .svg svg {
  display: inline;
}

body main section.section_modal-added-success div.container_modal-added-success .icon--added-success svg polyline, body main section.section_modal-added-success div.container_modal-added-failed .icon--added-success svg polyline, body main section.section_modal-added-failed div.container_modal-added-success .icon--added-success svg polyline, body main section.section_modal-added-failed div.container_modal-added-failed .icon--added-success svg polyline {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-animation: checkmark 0.25s ease-in-out 0.7s backwards;
          animation: checkmark 0.25s ease-in-out 0.7s backwards;
  stroke-linecap: round;
  stroke-dasharray: 100px,  100px;
  stroke-linejoin: round;
}

body main section.section_modal-added-success div.container_modal-added-success .icon--added-success svg circle, body main section.section_modal-added-success div.container_modal-added-failed .icon--added-success svg circle, body main section.section_modal-added-failed div.container_modal-added-success .icon--added-success svg circle, body main section.section_modal-added-failed div.container_modal-added-failed .icon--added-success svg circle {
  stroke-dasharray: 400px, 400px;
  stroke-dashoffset: 960px;
  -webkit-animation: checkmark-circle 0.6s ease-in-out backwards;
          animation: checkmark-circle 0.6s ease-in-out backwards;
}

body main section.section_modal-added-success div.container_modal-added-success .icon--added-success svg circle.colored, body main section.section_modal-added-success div.container_modal-added-failed .icon--added-success svg circle.colored, body main section.section_modal-added-failed div.container_modal-added-success .icon--added-success svg circle.colored, body main section.section_modal-added-failed div.container_modal-added-failed .icon--added-success svg circle.colored {
  -webkit-animation: colored-circle 0.6s ease-in-out 0.7s backwards;
          animation: colored-circle 0.6s ease-in-out 0.7s backwards;
}

@media only screen and (max-width: 600px) {
  body main section p {
    font-size: 16px !important;
  }
}

@media only screen and (max-width: 320px) {
  body main section p {
    font-size: 14px !important;
  }
  body main section button {
    font-size: 10px !important;
  }
}

@-webkit-keyframes checkmark {
  0% {
    stroke-dashoffset: 100px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@keyframes checkmark {
  0% {
    stroke-dashoffset: 100px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@-webkit-keyframes checkmark-circle {
  0% {
    stroke-dashoffset: 480px;
  }
  100% {
    stroke-dashoffset: 960px;
  }
}

@keyframes checkmark-circle {
  0% {
    stroke-dashoffset: 480px;
  }
  100% {
    stroke-dashoffset: 960px;
  }
}

@-webkit-keyframes colored-circle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes colored-circle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
/*# sourceMappingURL=client_menu.css.map */