body main {
  margin: 100px auto;
  max-width: 1350px;
  width: 96%;
}

body main section.section_forgot-password {
  margin: 150px 0 100px 0;
}

body main section.section_forgot-password div.container_forgot-password {
  padding: 50px;
  margin: auto;
  background-color: var(--secondary-dark);
  max-width: 420px;
  width: 90%;
  border-radius: 5px;
}

body main section.section_forgot-password div.container_forgot-password > p {
  margin-top: 10px;
  text-align: center;
}

body main section.section_forgot-password div.container_forgot-password > p a {
  font-size: 12px;
  text-decoration: none;
  color: var(--secondary-light);
  font-weight: 300;
}

body main section.section_forgot-password div.container_forgot-password > p:hover a, body main section.section_forgot-password div.container_forgot-password > p:hover i {
  color: var(--yellow);
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

body main section.section_forgot-password div.container_forgot-password div.container_title {
  margin-bottom: 15px;
}

body main section.section_forgot-password div.container_forgot-password div.container_title h1, body main section.section_forgot-password div.container_forgot-password div.container_title p {
  padding: 5px 0;
  text-align: center;
}

body main section.section_forgot-password div.container_forgot-password div.container_title h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
}

body main section.section_forgot-password div.container_forgot-password div.container_title p {
  font-size: 14px;
  color: var(--secondary-light);
  font-weight: 300;
}

body main section.section_forgot-password div.container_forgot-password div.container_title p.danger-icon {
  margin: 0 auto 20px auto;
  height: 60px;
  width: 60px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 34px;
  border: 4px solid var(--blue);
  line-height: 0;
  border-radius: 50%;
}

body main section.section_forgot-password div.container_forgot-password div.container_title p.danger-icon i {
  color: var(--blue);
}

body main section.section_forgot-password div.container_forgot-password div.container_title p a {
  color: var(--yellow);
  text-decoration: none;
  font-weight: 300;
}

body main section.section_forgot-password div.container_forgot-password div.container_title p a:hover {
  color: var(--yellow-lighten);
}

body main section.section_forgot-password div.container_forgot-password div.container_form form label {
  display: block;
}

body main section.section_forgot-password div.container_forgot-password div.container_form form label > p {
  padding: 5px 0;
  font-size: 12px;
  font-weight: 300;
}

body main section.section_forgot-password div.container_forgot-password div.container_form form label input[type="text"] {
  padding: 7px 15px;
  width: 100%;
  border: none;
  border: 2px solid var(--tertiary-light);
  border-radius: 5px;
  background: transparent;
  font-weight: 300;
  color: var(--secondary-light);
}

body main section.section_forgot-password div.container_forgot-password div.container_form form label > p.err_message {
  margin-top: 0;
  color: var(--danger);
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
}

body main section.section_forgot-password div.container_forgot-password div.container_form form button {
  margin-top: 20px;
  padding: 7px 15px;
  width: 100%;
  background-color: var(--yellow);
}

body main section.section_forgot-password div.container_forgot-password div.container_form form button:hover {
  background-color: var(--yellow-lighten);
}

body main section.section_modal-email-success {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-50%, -50%);
          transform: translateY(-50%, -50%);
  background-color: var(--tertiary-dark);
  z-index: 5;
}

body main section.section_modal-email-success div.container_modal-email-success {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 30px;
  margin: auto;
  max-width: 450px;
  width: 100%;
  text-align: center;
  background-color: var(--secondary-dark);
  border: 1px solid var(--tertiary-light);
  border-radius: 5px;
}

body main section.section_modal-email-success div.container_modal-email-success h1 {
  font-weight: 400;
}

body main section.section_modal-email-success div.container_modal-email-success p {
  color: var(--secondary-light);
  font-weight: 200;
  font-size: 14px;
}

body main section.section_modal-email-success div.container_modal-email-success button {
  margin-top: 20px;
  width: 100%;
  padding: 7px 15px;
  background-color: var(--yellow);
  text-shadow: 0 0 5px var(--tertiary-dark);
}

body main section.section_modal-email-success div.container_modal-email-success button:hover {
  background-color: var(--yellow-lighten);
}

body main section.section_modal-email-success div.container_modal-email-success .animation-ctn {
  margin: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
}

body main section.section_modal-email-success div.container_modal-email-success .inlinesvg .svg svg {
  display: inline;
}

body main section.section_modal-email-success div.container_modal-email-success .icon--email-success svg polyline {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-animation: checkmark 0.25s ease-in-out 0.7s backwards;
          animation: checkmark 0.25s ease-in-out 0.7s backwards;
  stroke-linecap: round;
  stroke-dasharray: 100px,  100px;
  stroke-linejoin: round;
}

body main section.section_modal-email-success div.container_modal-email-success .icon--email-success svg circle {
  stroke-dasharray: 400px, 400px;
  stroke-dashoffset: 960px;
  -webkit-animation: checkmark-circle 0.6s ease-in-out backwards;
          animation: checkmark-circle 0.6s ease-in-out backwards;
}

body main section.section_modal-email-success div.container_modal-email-success .icon--email-success svg circle.colored {
  -webkit-animation: colored-circle 0.6s ease-in-out 0.7s backwards;
          animation: colored-circle 0.6s ease-in-out 0.7s backwards;
}

@media only screen and (max-width: 600px) {
  body main section.section_forgot-password div.container_forgot-password {
    padding: 30px;
  }
  body main section.section_forgot-password div.container_forgot-password div.container_title h1 {
    font-size: 24px;
  }
}

@media only screen and (max-width: 320px) {
  body main section.section_forgot-password {
    margin: 150px 0 0 0;
  }
  body main section.section_forgot-password div.container_forgot-password {
    padding: 20px;
  }
  body main section.section_forgot-password div.container_forgot-password div.container_title h1 {
    font-size: 18px;
  }
  body main section.section_forgot-password div.container_forgot-password div.container_title p {
    font-size: 10px;
  }
  body main section.section_forgot-password div.container_forgot-password .container_form form label p.err_message {
    font-size: 10px !important;
  }
}

@-webkit-keyframes checkmark {
  0% {
    stroke-dashoffset: 100px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@keyframes checkmark {
  0% {
    stroke-dashoffset: 100px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@-webkit-keyframes checkmark-circle {
  0% {
    stroke-dashoffset: 480px;
  }
  100% {
    stroke-dashoffset: 960px;
  }
}

@keyframes checkmark-circle {
  0% {
    stroke-dashoffset: 480px;
  }
  100% {
    stroke-dashoffset: 960px;
  }
}

@-webkit-keyframes colored-circle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes colored-circle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
/*# sourceMappingURL=forgot_password.css.map */