body main {
  margin: 100px auto;
  max-width: 1350px;
  width: 96%;
}

body main section.section_landing-page .container_landing-page {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 580px;
}

body main section.section_landing-page .container_landing-page .container_giant-burger img {
  position: absolute;
  bottom: 0;
  display: block;
  margin-left: -180px;
  width: 48vw;
  max-width: 650px;
}

body main section.section_landing-page .container_landing-page .container_giant-burger .burger-shadow {
  position: absolute;
  top: 50%;
  left: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 1px;
  width: 1px;
  background: transparent;
  -webkit-box-shadow: 0 0 200px 300px rgba(255, 204, 20, 0.05);
          box-shadow: 0 0 200px 300px rgba(255, 204, 20, 0.05);
  border-radius: 50%;
  z-index: -1;
}

body main section.section_landing-page .container_landing-page .container_description {
  margin-top: 80px;
  position: relative;
  max-width: 800px;
  width: 100%;
}

body main section.section_landing-page .container_landing-page .container_description h1.tagline {
  color: var(--yellow);
  font-weight: 900;
  font-size: 60px;
  line-height: 1.2;
  text-align: center;
  text-shadow: 0 0 15px var(--secondary-dark);
}

body main section.section_landing-page .container_landing-page .container_description p.description {
  margin: 20px auto;
  width: 90%;
  text-align: center;
  text-shadow: 0 0 15px var(--secondary-dark);
}

body main section.section_landing-page .container_landing-page .container_description p.discount {
  margin: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 30px;
  font-size: 34px;
  font-weight: 900;
  border: 5px solid var(--yellow);
  text-shadow: 0 0 15px var(--secondary-dark);
}

body main section.section_landing-page .container_landing-page .container_description div.container_contact-info {
  position: absolute;
  bottom: 20px;
  right: 0;
  max-width: 800px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main section.section_landing-page .container_landing-page .container_description div.container_contact-info .accounts ul {
  list-style-type: none;
}

body main section.section_landing-page .container_landing-page .container_description div.container_contact-info .accounts ul li {
  margin: 2px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background: gray;
}

body main section.section_landing-page .container_landing-page .container_description div.container_contact-info .accounts ul li:nth-child(1) {
  background: var(--facebook);
}

body main section.section_landing-page .container_landing-page .container_description div.container_contact-info .accounts ul li:nth-child(1):hover {
  background: var(--facebook-light);
}

body main section.section_landing-page .container_landing-page .container_description div.container_contact-info .accounts ul li:nth-child(2) {
  background: var(--twitter);
}

body main section.section_landing-page .container_landing-page .container_description div.container_contact-info .accounts ul li:nth-child(2):hover {
  background: var(--twitter-light);
}

body main section.section_landing-page .container_landing-page .container_description div.container_contact-info .accounts ul li:nth-child(3) {
  background: var(--instagram);
}

body main section.section_landing-page .container_landing-page .container_description div.container_contact-info .accounts ul li:nth-child(3):hover {
  background: var(--instagram-light);
}

body main section.section_landing-page .container_landing-page .container_description div.container_contact-info .accounts ul li:nth-child(4) {
  background: var(--email);
}

body main section.section_landing-page .container_landing-page .container_description div.container_contact-info .accounts ul li:nth-child(4):hover {
  background: var(--email-light);
}

body main section.section_top-seller-burger {
  margin: 100px 0 25px 0;
}

body main section.section_top-seller-burger div.container_top-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main section.section_top-seller-burger div.container_top-burger div.top-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 50px 10px;
  padding: 20px;
  height: 240px;
  width: 260px;
  background-color: var(--secondary-dark);
  border-radius: 10px;
}

body main section.section_top-seller-burger div.container_top-burger div.top-burger h1, body main section.section_top-seller-burger div.container_top-burger div.top-burger p {
  text-align: center;
}

body main section.section_top-seller-burger div.container_top-burger div.top-burger h1 {
  font-weight: 400;
}

body main section.section_top-seller-burger div.container_top-burger div.top-burger p {
  color: var(--secondary-light);
  font-weight: 300;
}

body main section.section_top-seller-burger div.container_top-burger div.top-burger img {
  position: absolute;
  top: -70px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  height: 150px;
}

body main section.section_burger-layer {
  background-color: var(--secondary-dark);
  border-radius: 5px;
}

body main section.section_burger-layer div.container_burger-layers {
  padding: 30px 0;
  width: 97%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main section.section_burger-layer div.container_burger-layers div.container_burger-image img {
  display: block;
  height: 480px;
}

body main section.section_burger-layer div.container_burger-layers div.container_burger-contents {
  margin: 20px 50px;
  width: 350px;
}

body main section.section_burger-layer div.container_burger-layers div.container_burger-contents h1.burger-name {
  font-weight: 500;
}

body main section.section_burger-layer div.container_burger-layers div.container_burger-contents p.burger-description {
  font-size: 16px;
  color: var(--secondary-light);
  font-weight: 300;
}

body main section.section_burger-layer div.container_burger-layers div.container_burger-contents p.price {
  color: var(--yellow);
}

body main section.section_burger-layer div.container_burger-layers div.container_burger-contents button {
  margin: 10px 0;
  background-color: var(--yellow);
  padding: 7px 20px;
  text-shadow: 0 0 5px var(--secondary-dark);
}

body main section.section_burger-layer div.container_burger-layers div.container_burger-contents button:hover {
  background-color: var(--yellow-lighten);
}

body main section.section_burger-layer div.container_burger-layers div.container_burger-contents button a {
  text-decoration: none;
}

body main section.section_menu-types {
  margin: 100px 0;
}

body main section.section_menu-types div.container_menu-types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main section.section_menu-types div.container_menu-types div.container_menu {
  position: relative;
  margin: 10px;
  max-height: 300px;
  height: 100%;
  max-width: 450px;
  width: 100%;
}

body main section.section_menu-types div.container_menu-types div.container_menu img {
  max-height: 300px;
  height: 100%;
  max-width: 450px;
  width: 100%;
  border-radius: 10px;
}

body main section.section_menu-types div.container_menu-types div.container_menu .menu-description {
  padding: 20px;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--tertiary-dark);
  border-radius: 0 10px 10px 0;
}

body main section.section_menu-types div.container_menu-types div.container_menu .menu-description h1 {
  font-size: 18px;
  font-weight: 400;
}

body main section.section_menu-types div.container_menu-types div.container_menu .menu-description p {
  font-size: 14px;
  font-weight: 300;
  color: var(--secondary-light);
}

body main section.section_menu-types div.container_menu-types div.container_menu .menu-description button {
  margin: 10px 0;
  width: 100px;
  padding: 5px;
  background-color: var(--yellow);
  text-shadow: 0 0 5px var(--secondary-dark);
  font-size: 10px;
}

body main section.section_menu-types div.container_menu-types div.container_menu .menu-description button:hover {
  background-color: var(--yellow-lighten);
}

body main section.section_profiles {
  margin: 50px 0;
}

body main section.section_profiles div.container_profiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main section.section_profiles div.container_profiles div.container-sphere {
  margin: 30px 50px;
  position: relative;
  -webkit-box-shadow: 0 0 5px var(--tertiary-light);
          box-shadow: 0 0 5px var(--tertiary-light);
  height: 350px;
  width: 350px;
  border-radius: 50%;
  -webkit-animation: rotate-sphere 30000ms linear infinite;
          animation: rotate-sphere 30000ms linear infinite;
}

body main section.section_profiles div.container_profiles div.container-sphere div.image_centered img, body main section.section_profiles div.container_profiles div.container-sphere div.image_circumference img {
  position: absolute;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 20px var(--tertiary-light);
          box-shadow: 0 0 20px var(--tertiary-light);
}

body main section.section_profiles div.container_profiles div.container-sphere div.image_centered img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 120px;
  width: 120px;
  background: var(--primary-dark);
  -webkit-animation: rotate-center-image 30000ms linear infinite;
          animation: rotate-center-image 30000ms linear infinite;
}

body main section.section_profiles div.container_profiles div.container-sphere div.image_centered::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-box-shadow: 0 0 5px var(--tertiary-light);
          box-shadow: 0 0 5px var(--tertiary-light);
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: ripple-image 1500ms linear infinite;
          animation: ripple-image 1500ms linear infinite;
  z-index: -1;
}

body main section.section_profiles div.container_profiles div.container-sphere div.image_centered::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-box-shadow: 0 0 5px var(--tertiary-light);
          box-shadow: 0 0 5px var(--tertiary-light);
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: ripple-image 1500ms linear 300ms infinite;
          animation: ripple-image 1500ms linear 300ms infinite;
  z-index: -1;
}

body main section.section_profiles div.container_profiles div.container-sphere div.image_circumference:nth-child(2) img {
  top: 0;
  left: 0;
  height: 90px;
  width: 90px;
  background: var(--primary-dark);
  -webkit-animation: rotate-image 30000ms linear infinite;
          animation: rotate-image 30000ms linear infinite;
}

body main section.section_profiles div.container_profiles div.container-sphere div.image_circumference:nth-child(3) img {
  bottom: -30px;
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
  left: 30%;
  height: 80px;
  width: 80px;
  background: var(--primary-dark);
  -webkit-animation: rotate-image 30000ms linear infinite;
          animation: rotate-image 30000ms linear infinite;
}

body main section.section_profiles div.container_profiles div.container-sphere div.image_circumference:nth-child(4) img {
  top: 30%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -50px;
  height: 100px;
  width: 100px;
  background: var(--primary-dark);
  -webkit-animation: rotate-image 30000ms linear infinite;
          animation: rotate-image 30000ms linear infinite;
}

body main section.section_profiles div.container_profiles div.container_profile-quotes {
  margin: 50px;
  width: 400px;
}

body main section.section_profiles div.container_profiles div.container_profile-quotes :is(.favicon-quote, .our-quote, .our-name, .our-position) {
  text-align: center;
  font-weight: 300;
}

body main section.section_profiles div.container_profiles div.container_profile-quotes .our-name {
  position: relative;
}

body main section.section_profiles div.container_profiles div.container_profile-quotes .our-name img {
  position: absolute;
  top: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 50px;
}

body main section.section_profiles div.container_profiles div.container_profile-quotes p.favicon-quote i {
  color: var(--yellow);
  font-size: 48px;
}

body main section.section_profiles div.container_profiles div.container_profile-quotes p.our-quote {
  margin: 25px 0;
  color: var(--secondary-light);
}

body main section.section_profiles div.container_profiles div.container_profile-quotes p.our-position {
  font-size: 14px;
  color: var(--secondary-light);
}

body main section.section_download-menu {
  padding: 50px 0;
  background-color: var(--secondary-dark);
  border-radius: 5px;
}

body main section.section_download-menu div.container_download-menu {
  padding: 0 40px;
  margin: auto;
  max-width: 1100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

body main section.section_download-menu div.container_download-menu h1, body main section.section_download-menu div.container_download-menu button {
  margin: 0 10px;
}

body main section.section_download-menu div.container_download-menu button {
  padding: 10px 20px;
  background-color: var(--yellow);
  text-shadow: 0 0 5px var(--secondary-dark);
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body main section.section_download-menu div.container_download-menu button:hover {
  background-color: var(--yellow-lighten);
}

@media only screen and (max-width: 750px) {
  body main section.section_landing-page .container_landing-page {
    height: 520px;
  }
  body main section.section_landing-page .container_landing-page .container_giant-burger {
    height: 100%;
  }
  body main section.section_landing-page .container_landing-page .container_giant-burger img {
    margin-left: -100px;
    width: 100%;
    max-width: 380px;
  }
  body main section.section_landing-page .container_landing-page .container_giant-burger .burger-shadow {
    position: absolute;
    bottom: -150px;
    right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    height: 1px;
    width: 1px;
    background: transparent;
    -webkit-box-shadow: 0 0 100px 100px rgba(255, 204, 20, 0.05);
            box-shadow: 0 0 100px 100px rgba(255, 204, 20, 0.05);
    border-radius: 50%;
    z-index: -1;
  }
  body main section.section_landing-page .container_landing-page .container_description {
    margin-top: 10px;
  }
  body main section.section_landing-page .container_landing-page .container_description h1.tagline {
    font-size: 44px;
  }
  body main section.section_landing-page .container_landing-page .container_description p.description {
    font-size: 16px;
  }
  body main section.section_landing-page .container_landing-page .container_description p.discount {
    margin: auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 0 20px;
    font-size: 24px;
    font-weight: 900;
    border: 5px solid var(--yellow);
  }
  body main section.section_landing-page .container_landing-page .container_description div.container_contact-info {
    bottom: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main section.section_landing-page .container_landing-page .container_description div.container_contact-info .accounts ul li {
    margin: 5px 0;
  }
  body main section.section_landing-page .container_landing-page .container_description div.container_contact-info div.tel-number p {
    font-size: 14px;
  }
  body main section.section_top-seller-burger {
    margin: 100px 0 25px 0;
  }
  body main section.section_top-seller-burger div.container_top-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body main section.section_top-seller-burger div.container_top-burger div.top-burger {
    margin: 45px 10px;
    height: 220px;
    width: 240px;
  }
  body main section.section_top-seller-burger div.container_top-burger div.top-burger h1, body main section.section_top-seller-burger div.container_top-burger div.top-burger p {
    text-align: center;
  }
  body main section.section_top-seller-burger div.container_top-burger div.top-burger h1 {
    font-size: 18px;
  }
  body main section.section_top-seller-burger div.container_top-burger div.top-burger p {
    font-size: 14px;
  }
  body main section.section_top-seller-burger div.container_top-burger div.top-burger img {
    position: absolute;
    top: -70px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    height: 150px;
  }
  body main section.section_burger-layer div.container_burger-layers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body main section.section_burger-layer div.container_burger-layers div.container_burger-image {
    margin: 0;
  }
  body main section.section_burger-layer div.container_burger-layers div.container_burger-image img {
    display: block;
    height: 400px;
  }
  body main section.section_burger-layer div.container_burger-layers div.container_burger-contents {
    margin: 20px 50px;
    width: 350px;
  }
  body main section.section_burger-layer div.container_burger-layers div.container_burger-contents h1.burger-name {
    font-size: 18px;
  }
  body main section.section_burger-layer div.container_burger-layers div.container_burger-contents p.burger-description {
    font-size: 14px;
  }
  body main section.section_burger-layer div.container_burger-layers div.container_burger-contents p.price {
    color: var(--yellow);
  }
  body main section.section_burger-layer div.container_burger-layers div.container_burger-contents button {
    padding: 6px 18px;
    font-size: 12px;
  }
  body main section.section_burger-layer div.container_burger-layers div.container_burger-contents button a {
    text-decoration: none;
  }
}

@media only screen and (max-width: 600px) {
  body main section.section_landing-page .container_landing-page .container_giant-burger img {
    margin-left: -100px;
    width: 100%;
    max-width: 280px;
  }
  body main section.section_landing-page .container_landing-page .container_description {
    margin-top: 20px;
  }
  body main section.section_landing-page .container_landing-page .container_description h1.tagline {
    font-size: 34px;
  }
  body main section.section_landing-page .container_landing-page .container_description p.description {
    font-size: 14px;
  }
  body main section.section_landing-page .container_landing-page .container_description p.discount {
    margin: auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 800;
    border: 5px solid var(--yellow);
  }
  body main section.section_landing-page .container_landing-page .container_description div.container_contact-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  body main section.section_landing-page .container_landing-page .container_description div.container_contact-info .accounts ul {
    margin: 15px 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main section.section_landing-page .container_landing-page .container_description div.container_contact-info .accounts ul li {
    margin: 5px 0;
  }
  body main section.section_menu-types div.container_menu-types div.container_menu {
    height: 200px;
  }
  body main section.section_menu-types div.container_menu-types div.container_menu .menu-description h1 {
    font-size: 14px;
    font-weight: 400;
  }
  body main section.section_menu-types div.container_menu-types div.container_menu .menu-description p {
    font-size: 10px;
    font-weight: 300;
    color: var(--secondary-light);
  }
  body main section.section_menu-types div.container_menu-types div.container_menu .menu-description button {
    margin: 5px 0;
    width: 80px;
    padding: 5px 10px;
    font-size: 8px;
  }
  body main section.section_profiles div.container_profiles div.container-sphere {
    height: 220px;
    width: 220px;
  }
  body main section.section_profiles div.container_profiles div.container-sphere div.image_centered img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 80px;
    width: 80px;
    background: var(--primary-dark);
    -webkit-animation: rotate-center-image 30000ms linear infinite;
            animation: rotate-center-image 30000ms linear infinite;
  }
  body main section.section_profiles div.container_profiles div.container-sphere div.image_circumference:nth-child(2) img {
    top: 0;
    left: 0;
    height: 60px;
    width: 60px;
  }
  body main section.section_profiles div.container_profiles div.container-sphere div.image_circumference:nth-child(3) img {
    bottom: -30px;
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
    left: 30%;
    height: 60px;
    width: 60px;
  }
  body main section.section_profiles div.container_profiles div.container-sphere div.image_circumference:nth-child(4) img {
    top: 30%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: -30px;
    height: 60px;
    width: 60px;
  }
  body main section.section_profiles div.container_profiles div.container_profile-quotes :is(.favicon-quote, .our-quote, .our-name, .our-position) {
    text-align: center;
  }
  body main section.section_profiles div.container_profiles div.container_profile-quotes p.favicon-quote i {
    color: var(--yellow);
    font-size: 34px;
  }
  body main section.section_profiles div.container_profiles div.container_profile-quotes p.our-quote {
    margin: 30px 0;
  }
  body main section.section_profiles div.container_profiles div.container_profile-quotes h1.our-name {
    font-size: 18px;
  }
  body main section.section_profiles div.container_profiles div.container_profile-quotes p.our-position {
    font-size: 14px;
    color: var(--secondary-light);
  }
  body main section.section_download-menu {
    padding: 30px 0;
  }
  body main section.section_download-menu div.container_download-menu {
    padding: 0 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body main section.section_download-menu div.container_download-menu h1 {
    font-size: 18px;
  }
  body main section.section_download-menu div.container_download-menu button {
    padding: 10px 30px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 320px) {
  body main section.section_landing-page .container_landing-page .container_description {
    margin-top: 20px;
  }
  body main section.section_landing-page .container_landing-page .container_description h1.tagline {
    font-size: 24px;
  }
}

@-webkit-keyframes rotate-image {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes rotate-image {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@-webkit-keyframes rotate-sphere {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate-sphere {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate-center-image {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(-360deg);
            transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes rotate-center-image {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(-360deg);
            transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@-webkit-keyframes ripple-image {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes ripple-image {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=index.css.map */