body main {
  margin: 100px auto;
  max-width: 1350px;
  width: 96%;
}

body main section.section_signup {
  margin: 150px 0 100px 0;
}

body main section.section_signup div.container_signup {
  padding: 50px;
  margin: auto;
  background-color: var(--secondary-dark);
  max-width: 600px;
  width: 90%;
  border-radius: 5px;
}

body main section.section_signup div.container_signup div.container_title {
  margin-bottom: 15px;
}

body main section.section_signup div.container_signup div.container_title h1, body main section.section_signup div.container_signup div.container_title p {
  padding: 5px 0;
  text-align: center;
}

body main section.section_signup div.container_signup div.container_title h1 {
  font-size: 34px;
  font-weight: 500;
  line-height: 1;
}

body main section.section_signup div.container_signup div.container_title p {
  font-size: 14px;
  color: var(--secondary-light);
  font-weight: 300;
}

body main section.section_signup div.container_signup div.container_title p a {
  color: var(--yellow);
  text-decoration: none;
  font-weight: 300;
}

body main section.section_signup div.container_signup div.container_title p a:hover {
  color: var(--yellow-lighten);
}

body main section.section_signup div.container_signup div.container_form form div.container_fullname {
  margin-bottom: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

body main section.section_signup div.container_signup div.container_form form p.reminder {
  padding: 5px 0;
  font-size: 12px;
  font-weight: 300;
  color: var(--secondary-light);
}

body main section.section_signup div.container_signup div.container_form form div.container_password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

body main section.section_signup div.container_signup div.container_form form p {
  font-size: 12px;
  font-weight: 300;
}

body main section.section_signup div.container_signup div.container_form form p.err_message {
  line-height: 1;
  color: var(--danger);
}

body main section.section_signup div.container_signup div.container_form form label {
  width: 100%;
  display: block;
}

body main section.section_signup div.container_signup div.container_form form label[for="email"] {
  margin-bottom: 10px;
}

body main section.section_signup div.container_signup div.container_form form label p {
  padding: 5px 0;
  font-size: 12px;
  font-weight: 300;
}

body main section.section_signup div.container_signup div.container_form form label input[type="text"], body main section.section_signup div.container_signup div.container_form form label input[type="password"] {
  padding: 7px 15px;
  width: 100%;
  border: none;
  border: 2px solid var(--tertiary-light);
  border-radius: 5px;
  background: transparent;
  font-weight: 300;
  color: var(--secondary-light);
}

body main section.section_signup div.container_signup div.container_form form label input[type="text"]::-ms-reveal, body main section.section_signup div.container_signup div.container_form form label input[type="text"]::-ms-clear, body main section.section_signup div.container_signup div.container_form form label input[type="password"]::-ms-reveal, body main section.section_signup div.container_signup div.container_form form label input[type="password"]::-ms-clear {
  display: none;
}

body main section.section_signup div.container_signup div.container_form form label .container_password, body main section.section_signup div.container_signup div.container_form form label .container_confirm-password {
  position: relative;
}

body main section.section_signup div.container_signup div.container_form form label .container_password span.checkbox_password, body main section.section_signup div.container_signup div.container_form form label .container_confirm-password span.checkbox_password {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

body main section.section_signup div.container_signup div.container_form form label .container_password span.checkbox_password input[type="checkbox"], body main section.section_signup div.container_signup div.container_form form label .container_confirm-password span.checkbox_password input[type="checkbox"] {
  display: none;
}

body main section.section_signup div.container_signup div.container_form form label .container_password span.checkbox_password input[type="checkbox"]:checked + .icon_hide-password, body main section.section_signup div.container_signup div.container_form form label .container_confirm-password span.checkbox_password input[type="checkbox"]:checked + .icon_hide-password {
  color: var(--primary-light);
}

body main section.section_signup div.container_signup div.container_form form label .container_password span.checkbox_password .icon_hide-password, body main section.section_signup div.container_signup div.container_form form label .container_confirm-password span.checkbox_password .icon_hide-password {
  cursor: pointer;
  color: var(--secondary-light);
  font-size: 14px;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

body main section.section_signup div.container_signup div.container_form form label .container_password span.checkbox_password .icon_hide-password:hover, body main section.section_signup div.container_signup div.container_form form label .container_confirm-password span.checkbox_password .icon_hide-password:hover {
  color: var(--primary-light);
}

body main section.section_signup div.container_signup div.container_form form label #error_message-required, body main section.section_signup div.container_signup div.container_form form label #error_message-invalid, body main section.section_signup div.container_signup div.container_form form label #error_message-incorrect {
  display: none;
  margin: 0;
  color: var(--danger);
  font-size: 14px;
  font-weight: 300;
}

body main section.section_signup div.container_signup div.container_form form button#signup_btn {
  margin-top: 10px;
  padding: 7px;
  width: 100%;
  background-color: var(--yellow);
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
  text-shadow: 0 0 5px var(--tertiary-dark);
}

body main section.section_signup div.container_signup div.container_form form button#signup_btn:hover {
  background-color: var(--yellow-lighten);
}

body main section.section_signup div.container_signup div.container_form form div.signup_keep-logged {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main section.section_signup div.container_signup div.container_form form div.signup_keep-logged label {
  display: block;
  margin: 0;
}

body main section.section_signup div.container_signup div.container_form form div.signup_keep-logged label p {
  font-size: 14px;
  font-weight: 300;
  color: var(--secondary-light);
}

body main section.section_signup div.container_signup div.container_form form div.signup_keep-logged p {
  padding: 5px 0;
  font-size: 14px;
  font-weight: 300;
}

body main section.section_signup div.container_signup div.container_form form div.signup_keep-logged p a {
  font-size: 14px;
  font-weight: 300;
  color: var(--secondary-light);
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
}

body main section.section_signup div.container_signup div.container_form form div.signup_keep-logged p a:hover {
  color: var(--yellow);
}

body main section.section_modal-signup-success {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-transform: translateY(-50%, -50%);
          transform: translateY(-50%, -50%);
  background-color: var(--tertiary-dark);
  z-index: 5;
}

body main section.section_modal-signup-success div.container_modal-signup-success {
  padding: 30px;
  margin: auto;
  max-width: 450px;
  width: 95%;
  text-align: center;
  background-color: var(--secondary-dark);
  border: 1px solid var(--tertiary-light);
  border-radius: 5px;
}

body main section.section_modal-signup-success div.container_modal-signup-success h1 {
  font-weight: 400;
}

body main section.section_modal-signup-success div.container_modal-signup-success p {
  color: var(--secondary-light);
  font-weight: 200;
  font-size: 14px;
}

body main section.section_modal-signup-success div.container_modal-signup-success button {
  margin-top: 20px;
  width: 100%;
  padding: 7px 15px;
  background-color: var(--yellow);
  text-shadow: 0 0 5px var(--tertiary-dark);
}

body main section.section_modal-signup-success div.container_modal-signup-success button:hover {
  background-color: var(--yellow-lighten);
}

body main section.section_modal-signup-success div.container_modal-signup-success .animation-ctn {
  margin: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
}

body main section.section_modal-signup-success div.container_modal-signup-success .inlinesvg .svg svg {
  display: inline;
}

body main section.section_modal-signup-success div.container_modal-signup-success .icon--signup-success svg polyline {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-animation: checkmark 0.25s ease-in-out 0.7s backwards;
          animation: checkmark 0.25s ease-in-out 0.7s backwards;
  stroke-linecap: round;
  stroke-dasharray: 100px,  100px;
  stroke-linejoin: round;
}

body main section.section_modal-signup-success div.container_modal-signup-success .icon--signup-success svg circle {
  -webkit-animation: checkmark-circle 0.6s ease-in-out backwards;
          animation: checkmark-circle 0.6s ease-in-out backwards;
  stroke-dasharray: 400px, 400px;
  stroke-width: 2px;
}

body main section.section_modal-signup-success div.container_modal-signup-success .icon--signup-success svg circle#colored {
  -webkit-animation: colored-circle 0.6s ease-in-out 0.7s backwards;
          animation: colored-circle 0.6s ease-in-out 0.7s backwards;
}

@media only screen and (max-width: 600px) {
  body main section.section_signup div.container_signup {
    padding: 30px;
  }
  body main section.section_signup div.container_signup div.container_title h1 {
    font-size: 24px;
  }
}

@media only screen and (max-width: 320px) {
  body main section.section_signup {
    margin: 150px 0 0 0;
  }
  body main section.section_signup div.container_signup {
    padding: 20px;
  }
  body main section.section_signup div.container_signup div.container_title h1 {
    font-size: 18px;
  }
  body main section.section_signup div.container_signup div.container_title p {
    font-size: 10px;
  }
  body main section.section_signup div.container_signup .container_form form label #error_message-required, body main section.section_signup div.container_signup .container_form form label #error_message-invalid, body main section.section_signup div.container_signup .container_form form label #error_message-incorrect {
    font-size: 10px !important;
  }
  body main section.section_signup div.container_signup .container_form form div.signup_keep-logged label p {
    font-size: 10px !important;
  }
  body main section.section_signup div.container_signup .container_form form div.signup_keep-logged p a {
    font-size: 10px !important;
  }
}

@-webkit-keyframes checkmark {
  0% {
    stroke-dashoffset: 100px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@keyframes checkmark {
  0% {
    stroke-dashoffset: 100px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

@-webkit-keyframes checkmark-circle {
  0% {
    stroke-dashoffset: 480px;
  }
  100% {
    stroke-dashoffset: 960px;
  }
}

@keyframes checkmark-circle {
  0% {
    stroke-dashoffset: 480px;
  }
  100% {
    stroke-dashoffset: 960px;
  }
}

@-webkit-keyframes colored-circle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes colored-circle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
/*# sourceMappingURL=signup.css.map */